/*!
 * Style
 */

@font-face {
  font-family: 'Crimson';
  src: url('/fonts/crimson/crimson-bold.woff2') format('woff2'),
    url('/fonts/crimson/crimson-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson';
  src: url('/fonts/crimson/crimson-italic.woff2') format('woff2'),
    url('/fonts/crimson/crimson-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson';
  src: url('/fonts/crimson/crimson-bolditalic.woff2') format('woff2'),
    url('/fonts/crimson/crimson-bolditalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson';
  src: url('/fonts/crimson/crimson-roman.woff2') format('woff2'),
    url('/fonts/crimson/crimson-roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Plex Mono';
  src:
    url('/fonts/plex-mono/plex-mono-bold.woff2') format('woff2'),
    url('/fonts/plex-mono/plex-mono-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Plex Mono';
  src:
    url('/fonts/plex-mono/plex-mono-italic.woff2') format('woff2'),
    url('/fonts/plex-mono/plex-mono-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'Plex Mono';
  src:
    url('/fonts/plex-mono/plex-mono-bolditalic.woff2') format('woff2'),
    url('/fonts/plex-mono/plex-mono-bolditalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'Plex Mono';
  src:
    url('/fonts/plex-mono/plex-mono-regular.woff2') format('woff2'),
    url('/fonts/plex-mono/plex-mono-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

:root {
  --color-fg: #ffffff;
  /* --color-fg-rgb: 255, 255, 255; */
  --border-width: 0.1em;
  --line-space: 1.62em;
  --color-bg: #000000;
  --color-light-fg: #ffffff;
  --color-light-bg: #000000;
  --color-white: #ffffff;
  --color-anim: #ffffff;
  --color-anim-light: #ffffff;
}

*,
::before,
::after {
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  /* position: fixed; */
  overflow: hidden;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2rem;
  color: var(--color-fg);
  background: var(--color-bg);
  letter-spacing: 0.01rem;
  line-height: 1.62;
  padding: 0;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  /* overflow: auto; */
  position: relative;
  overflow: hidden;
}

/* Only for safari */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    body {
      will-change: transform;
    }
  }
}

@media screen and (min-width: 18.75em) {
  /* 300px */
  body {
    /* Fluid typography
     * calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: calc(20px + (26 - 20) * ((100vw - 300px) / (1280 - 300)));
  }
}

@media screen and (min-width: 80em) {
  /* 1280 px */
  body {
    font-size: 2.6rem;
  }
}

main,
header,
footer,
article,
section {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
}

main {
  display: block;
  margin: 0 auto;
}

header {
  text-align: center;
}

footer {
  color: var(--color-light-fg);
  margin: 2em 0 1em;
  text-align: center;
}

footer p {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  letter-spacing: 0.01rem;
  margin: 1.62em 0;
  line-height: inherit;
  font-weight: bold;
  text-align: left;
}

h1 + p,
h2 + p,
h3 + p {
  margin-top: 0.5em;
}

h1 {
  font-size: 1.2em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.2em;
}

h4,
h5,
h6 {
  font-size: 1em;
  margin: 1em 0 0;
}

p {
  margin: 1.62em 0 0;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
  &:first-of-type {
    margin: 0;
  }
}

::selection {
  color: var(--color-bg);
  background-color: var(--color-fg);
  text-shadow: none;
}

a {
  color: var(--color-fg);
  /* text-decoration: underline solid var(--color-fg); */
  text-decoration-line:  underline;
  text-decoration-style: solid;
  text-decoration-color: var(--color-fg);
}

sup a {
  text-decoration-line: unset;
}

a:hover,
a:focus,
a:active {
  color: var(--color-bg);
  background: var(--color-fg);
  /* text-decoration: line-through solid var(--color-fg); */
  /* text-decoration-line:  line-through; */
  /* text-decoration-style: solid; */
  /* text-decoration-color: var(--color-fg); */
}

/* Tapping delay off */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  touch-action: manipulation;
}

img {
  max-width: 100%;
  max-height: 70vh;
  height: auto;
  display: block;
  margin: 0 auto;
}

figure {
  margin: 0 0 1.62em;
}

figcaption p {
  margin-top: 0;
  font-size: 0.8em;
}

video {
  width: 100%;
  outline: none;
  border: 0;
}

iframe {
  border-style: none;
}

svg:not([fill]) {
  fill: currentColor;
}

pre {
  display: block;
  text-indent: none;
  width: 80%;
  font-family: 'Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  font-size: 0.8em;
  background-color: var(--color-light-bg);
  border-left: 2px solid var(--color-fg);
  padding: 1em 2em;
  margin: 1em 0;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

code,
kbd {
  font-family: 'Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  font-size: 0.8em;
  background-color: var(--color-light-bg);
  border: none;
  padding: 0.2em 1em;
  word-break: break-all;
  word-wrap: break-word;
}

pre code {
  padding: 0;
}

blockquote {
  display: block;
  width: 80%;
  font-size: 0.8em;
  font-style: italic;
  background-color: var(--color-light-bg);
  border-left: 2px solid var(--color-fg);
  padding: 1em 2em;
  margin: 1em 0;
}

blockquote p {
  margin: 0;
}

blockquote p + p {
  margin-top: 1em;
}

textarea {
  overflow: auto;
  resize: vertical;
}

hr {
  display: block;
  height: 1px;
  width: 62%;
  border: 0;
  border-top: 1px solid var(--color-fg);
  margin: 3em auto;
  padding: 0;
}

/* Media Queries */
@media (min-width: 50em) {
  /* 800px */
}

@media (min-width: 80em) {
  /* 1280px */
}

@media print {
  body {
    margin: 0;
    color: #000;
    background-color: #fff;
  }
}

@keyframes noise {
  0% {
    transform: translate3d(0, 0, 0);
  }

  10% {
    transform: translate3d(-3%, -6%, 0);
  }

  20% {
    transform: translate3d(-9%, 3%, 0);
  }

  30% {
    transform: translate3d(12%, -9%, 0);
  }

  40% {
    transform: translate3d(-15%, 12%, 0);
  }

  50% {
    transform: translate3d(-3%, -3%, 0);
  }

  60% {
    transform: translate3d(12%, 0%, 0);
  }

  70% {
    transform: translate3d(0%, 12%, 0);
  }

  80% {
    transform: translate3d(3%, 3%, 0);
  }

  90% {
    transform: translate3d(-15%, 15%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
