---
import Layout from "../layouts/Layout.astro";
import { Content as ContentIndex } from "../content/meta/index.md";
---

<Layout>
  <canvas class="world"></canvas>
  <div class="texts">
    <button class="texts__close">[X]</button>
    <div class="texts__image"></div>
    <div class="texts__content">
      <ContentIndex />
    </div>
  </div>
</Layout>
