---
import { SITE } from "../site-config";

const { title = SITE.title, description, image, date } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL(
  image ? image : "./favicon/antilivre-banniere.jpg",
  Astro.url
).href;
---

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"
  />

  <title>{SITE.title}</title>
  <link rel="canonical" href={canonicalURL} />
  <meta name="description" content={SITE.description} />
  <meta name="author" content={SITE.author} />
  <meta name="robots" content="index, follow" />
  <link rel="sitemap" href="./sitemap-index.xml" />

  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="./favicon/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="./favicon/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="./favicon/favicon-16x16.png"
  />
  <link rel="manifest" href="./favicon/site.webmanifest" />
  <link rel="shortcut icon" href="./favicon/favicon.ico" />
  <meta name="msapplication-TileColor" content="#000000" />
  <link
    rel="mask-icon"
    href="./favicon/safari-pinned-tab.svg"
    color="#000000"
  />
  <meta name="msapplication-config" content="./favicon/browserconfig.xml" />
  <meta name="theme-color" content="#ffffff" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content={date ? "article" : "website"} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:url" content={canonicalURL} />
  <meta property="og:site_name" content={SITE.title} />
  <meta property="og:locale" content={SITE.locale} />
  <meta property="og:image" content={socialImageURL} />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  {
    date && (
      <>
        <meta property="article:author" content={SITE.author} />
        <meta property="article:published_time" content={date} />
      </>
    )
  }

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={canonicalURL} />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:image" content={socialImageURL} />

  <!-- RSS auto-discovery -->
  <link
    rel="alternate"
    type="application/rss+xml"
    title={SITE.title}
    href="./rss.xml"
  />

  <script is:inline>
    window.paceOptions = {
      ajax: true,
      document: true,
      eventLag: false,
      elements: {
        selectors: ['.loading--all-is-loaded']
      }
    };
  </script>
  <script is:inline src="./pace.min.js"></script>
</head>
